@charset "utf-8";
/* CSS 主体全局样式 */
html {
  font:12px/200% "Microsoft Yahei",Tahoma,Arial,"\5b8b\4f53",sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  margin: 0;
  font-size: 12px;
  line-height: 1.42857143;
  color: #333;
}
div, 
dl, 
dt, 
dd, 
ul, 
ol, 
li, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6,
form,
input,
textarea,
p,
th,
td,
hr {
  margin: 0;
  padding: 0;
  list-style:none;
  font-size:100%; font-weight:500;
}
em {font-style: normal; font-weight:400}
ins, a {text-decoration: none;}
a{ color:#333;}
a:hover{ color:#009dd7; text-decoration:none;}
.float-l {float:left}
.float-r {float:right}

/*top固定头部*/
.head {position:fixed; height:120px; top:0; display:inline-block; width:100%;z-index:99}
.nav{ height:40px; background:#34373c; display:inline-block; width:100%; float:left;}
.nav .n-l{ float:left;}
.nav .n-l ul{ display:inline-block;}
.nav .n-l li{ float:left; position:relative;}
.nav .n-l li .logo{ margin-left:10px; margin-top:7px;}
.nav .n-l li a{ display:block; background:#2a2e31;}
.nav .n-l li a.home{ width:50px; height:40px; line-height:40px; text-align:center; color:#b6b6b6}
.nav .n-l li a.home:hover {color:#009dd7}
.nav .n-l li a.home i {font-size:26px;}
.nav .n-l li.top-menu {
  height:40px;
  line-height:40px;
  color:#b6b6b6;
  padding:0 20px;
  font-size:14px;
  cursor:pointer;
}
.nav .n-l li.top-menu:hover { background-color:#fff; color:#00a7de;}
.nav .n-l li.selected {
  background-color:#fff;
  color:#00a7de;
}
.top-area {/*顶部地区选择*/
  width:340px;
  background: #fff;
  box-shadow: 0 5px 5px #ddd;
  display: inline-block;
  padding: 10px;
}
.top-area a {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  margin: 0 10px;
  padding: 0 2px 1px;
  font-size:14px;
}
.top-area a:hover {background-color:#00a7de; color:#fff;}
.top-area-show {
  width:80px;
  height:40px;
  line-height:40px;
  color:#b6b6b6;
  padding:0 20px;
  font-size:14px;
  cursor:pointer;
  overflow:hidden;
}
/*头部左侧*/
.nav .n-l .child{ position:absolute;top:0px; left:0px; z-index:99; margin-top:40px; line-height:30px;}
.nav .n-l .child .drop{background:#fff;display:inline-block;box-shadow: 0px 5px 5px #ddd;padding-bottom:10px;}
.nav .n-l:hover .child{ display:block;}
.nav .n-l .child .c-l{float:left; width:96px; text-align:left} 
.nav .n-l .child .c-l dl{float:left;width:76px;}  
.nav .n-l .child .c-l dl+dl{border-bottom:1px solid #eee;}
.nav .n-l .child .c-l dt{  font-size:14px; color:#999; position:relative; }
.nav .n-l .child .c-l dt i{ display:inline-block; width:25px; height:25px;background:url('../images/ico-manager.png') 0px -188px no-repeat; position:absolute;
top:0px; left:0; z-index:99;}
.nav .n-l .child .c-l dd{ width:100%; cursor:pointer; padding-left:20px;}
.nav .n-l .child .c-l dd a{ background:none;}
/*头部右侧*/
.nav .n-r{ float:right; }
.nav .n-r ul{ display:inline-block;}
.nav .n-r li{ float:left; position:relative; display:inline-block; margin-left:1px; cursor:pointer}
.nav .n-r li span.num{ background:#f13031;color:#fff;display: block; top: 3px; line-height:18px; text-align:center;left: -8px;z-index: 9999;width: 20px;height: 20px; border-radius: 70px; z-index:9999; position:absolute}
.nav .n-r li i{ display:inline-block; float:left;}
.nav .n-r li i.peo{width:20px; height:40px;background-position: 0px -112px;}
.nav .n-r li i.arrow{width:20px; height:40px;background-position: 0px -272px;}
.nav .n-r li:hover a.name{ background:#1f2325}
.nav .n-r li a.name{ color:#b6b6b6; font-size:14px; display:block;width:130px; height:34px; background:#2a2e31; padding:6px 0px 0 10px;}
.nav .n-r li a.name span{ float:left; margin:4px 7px 0px 5px; display:block; width:75px; overflow:hidden; text-overflow:ellipsis;}
.nav .n-r li a.power{ display: block;width:50px; height:40px; line-height:40px; text-align:center; color:#b6b6b6;}
.nav .n-r li a.power i {float:none; font-size:26px}
.nav .n-r li .child{ position:absolute;top:0px; left:0px; z-index:99; padding-top:40px;width:100%;}
.nav .n-r li .child .drop{background:#fff; box-shadow: 0px 5px 5px #ddd; padding-top:10px;padding-bottom:2px;}
.nav .n-r li:hover .child{ display:block;}
.nav .n-r .child  dl {width:100%;}
.nav .n-r .child  dd{ text-align:center; margin-bottom:10px; height:25px; line-height:25px}
.nav .n-r .child  dd a{ background:none; color:#555; display:block; width:100%; position:relative;}
.nav .n-r .child  dd i{ display:block; width:25px; height:25px; position:absolute; left:15px; top:0; z-index:99;}
.nav .n-r .child  dd a:hover{ background:#edeef0; height:25px; line-height:25px;}

.menu{ background:#f6f7f8;height:60px;display:inline-block; width:100%;float:left; border-bottom:#ddd solid 1px;box-shadow:0 0 4px rgba(0, 0, 0, 0.1);box-sizing: content-box;}
.menu span{ display:block;float:left; font-size:20px;margin-top: 16px; margin-left:15px; margin-right:30px;}
.menu span.default{color:#555;}
.menu li{ float:left;}
.menu li a{ font-size:14px; color:#333; display:block;margin:0 25px;height:58px;line-height:60px; margin-bottom:2px; padding:0 5px;}
.menu li a:hover{color:#009dd7;border-bottom:#009dd7 solid 3px;background:#f6f7f8;}
.menu li .now {background: none repeat scroll 0 0 #f6f7f8; border-bottom: 3px solid #009dd7; color: #009dd7;}